spring:
  application:
    name: gateway-server
#  config:
#    import: 'optional:configserver:'
#  cloud:
#    config:
#      discovery:
#        enabled: true
#        service-id: config-server

logging:
  level:
    root: debug

eureka:
  instance:
    prefer-ip-address: false
    hostname: ${EUREKA_INSTANCE_HOSTNAME:localhost}
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: ${EUREKA_CLIENT_SERVICEURL_DEFAULTZONE:http://localhost:3150/eureka/}

